!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EDICIÓN DE DOCENTES</title>
    </head>
<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>
       
    
</body>
</html>