<!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <h1 class="text-center mt-5 mb-5">APLICACIÓN PARA ESCUELAS</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card text-white bg-info  mb-3" style="max-width: 25rem;">
                    <div class="card-header text-center">INCIO EN LA APLICACIÓN</div>
                            <div class="card-body ">
                                <h5 class="card-title">Registrese o Inicie sección</h5>
                                <p class="card-text">Para ingresar al sistema de escuelas debe iniciar sección, sino primero registrese antes de iniciar la sección.</p>
                            </div>
                </div>  
            </div>
            
            <div class="col-md-3 mb-4">
                <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                    <div class="card-header text-center">DOCENTES</div>
                        <div class="card-body ">
                                <h5 class="card-title">En esta sección puede:</h5>
                                <p class="card-text">Ingresar nuevos docentes, actualizarlos y darlos de baja, como así también puede ver los distintos listados desde el enlace Docentes. </p>
                        </div>
                </div>

            </div>
            
            <div class="col-md-3 mb-4">
               <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                    <div class="card-header text-center">LISTADOS DOCENTES</div>
                        <div class="card-body ">
                                <h5 class="card-title">Diferentes tipos de listados:</h5>
                                <p class="card-text">Podemos ver por pantalla, listados por apellido, listado del presonal docentes, listados por profesor, materias y cursos. </p>
                        </div>
                </div>
            </div>
    
            <div class="col-md-3 mb-4">
               <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                    <div class="card-header text-center">BUSCAR POR APELLIDO DEL DOCENTE</div>
                        <div class="card-body ">
                                <h5 class="card-title ">En la sección docente:</h5>
                                <p class="card-text">Podemos buscar un docente por apellido usando simplemente algunas letras de su apellido, mostrando toda la información del mismo. </p>
                        </div>
                </div>
            </div>                 
                
            
            </div>
        </div>
    </div>       
   <!--   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
</body>
</html>