<!DOCTYPE html>
<html>

<body>
   

        <h1>Profesor: <%= profesor.apellido_nombre %></h1>
  <p>ID: <%= profesor.id %></p>

  <h2>Materias que dicta:</h2>
  <ul>
    <% if (profesor.materias.length > 0) { %>
      <% profesor.materias.forEach(m => { %>
        <li><%= m.nombre_materia %></li>
      <% }) %>
    <% } else { %>
      <li>No dicta materias</li>
    <% } %>
  </ul>

  
</body>
</html>
 
     
