
#contenidoPrincipal{
    display: flex;
    align-items: center;
}

#imagen{
    width: 49%;
    border-radius: 20px;
    float:left;
    margin-right: 10px;
    display: flex;
    
}
#descripcion{
    float:left;
    width: 49%; 
}

