#cabecera{
    text-align: center 
}

#contenidoPrincipal{
    display: block;
    align-items: center;
}

.imagen{
    width: 400px;
    border-radius: 20px;
    display:block;
    margin:auto;
}

#descripcion{
    float: right;
    width: 49%;
}

